body{
    background-color:aliceblue;

}



header{
    display: flex;
    padding: 5px;
    height: 90px;
    width:auto;
    background-color: blue;
    font-family: 'Arial', sans-serif;
    color: white;
    justify-content: center;
    justify-content: space-between;
}

.namebox {
    display: flex;
    height: 50px;
    width: 300px;
    justify-content: end;
    padding: 10px;
    color:blue;
    background-color: black;
    border: 10px;
}

h1{
    display: flex;
  
    padding: 5px;
    margin: 0px;
    align-items: start;
    font-size: 50 px;
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    width: 600px;
    color: black
}


nav a {
    display: flex;
    padding: 20 px;
   text-decoration: underline;
}

.subhead {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/nocode.jpg");
    background-size: cover;
    background-position: center;
}
.pbox{
    align-items: end;
}
.subhead p {
    display: block;
    text-align: end;
    width: 20%;
    background-color: gray;
    color: blue;
}

img{
    height: 200px;
    width: 200px;
}

main{
    background-color:aliceblue;
display: flex;
flex-wrap:wrap;
}

.AboutMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 100%;
    background-color:green;
    color: gray;
    font-family: 'Arial', sans-serif;
}

.Aside {
    width: 20%;
height: 100%;
background-color: black;
border: black;
border: 10px;
}

.Aside h2 {
    font-size: 50px;
    color: yellow;
}

.line {
    width: 5px;
    height: 100%;
    color: gray;
    background-color: gray;
}

.textbox {
    width: 60%;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 100%;
    background-color:green;
    color: gray;
    font-family: 'Arial', sans-serif;
}

.firstapp {
    display: block;
    background-color: white;
    height: 50%;
    width: 100%;
}

.placeholder1 {
    display: inline;
    background-color: red;
    height: 50%;
    width: 33%;
}

.placeholder2 {
    display: inline;
    background-color: yellow;
    height: 50%;
    width: 33%;
}

.placeholder3 {
    display: inline;
    background-color: purple;
    height: 50%;
    width: 30%;
}

.contactme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 100%;
    background-color:green;
    color: gray;
    font-family: 'Arial', sans-serif;
}


@media screen and (max-width: 992px) {
  .placeholder1 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .placeholder1 {
    width: 100%;
  }
}