body{
    background-color:aliceblue;

}



header{
    display: flex;
    padding: 5px;
    height: 90px;
    width:auto;
    background-color: blue;
    font-family: 'Arial', sans-serif;
    color: white;
    justify-content: center;
    justify-content: space-between;
}

.namebox {
    display: flex;
    height: 50px;
    width: 300px;
    justify-content: end;
    padding: 10px;
    color:blue;
    background-color: black;
    border: 10px;
}

h1{
    display: flex;
  
    padding: 5px;
    margin: 0px;
    align-items: start;
    font-size: 50 px;
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    width: 600px;
    color: black
}


nav a {
    display: flex;
    padding: 20 px;
   text-decoration: underline;
}

.subhead {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/nocode.jpg");
    background-size: cover;
    background-position: center;
}
.pbox{
    align-items: end;
}
.subhead p {
    display: block;
    text-align: end;
    width: 20%;
    background-color: gray;
    color: blue;
}

img{
    height: 200px;
    width: 200px;
}

main{
    background-color:aliceblue;
display: grid;
grid-template-columns: 25% 5% 35% 35%;
grid-template-rows: 25% 25% 25% 25%;
height: 1200px;
width: 1200px;
}

.AboutMe {
    grid-column: 1 / 1;
    grid-row: 1 / 1 ;
    background-color: black;
    border: black;
    font-family: 'Arial', sans-serif;
}
.AboutMe h2 {
    color: white;
}

.line {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    color: gray;
    background-color: gray;
}

.textbox {
    grid-column: 3 / 5;
    grid-row: 1 / 1;

}

.applications {
    grid-column: 1 / 1;
    grid-row: 2 / 4;
    background-color:green;
    color: gray;
    font-family: 'Arial', sans-serif;
}
    
.line2 {
        grid-column: 2 / 2;
        grid-row: 2 / 4;
        color: gray;
        background-color: gray;
    }

.firstapp {
    background-color: purple;
    grid-column: 3 / 5;
    grid-row: 2 / 2;
}

.placeholder1 {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.placeholder2 {
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}


.contactme {
grid-column: 1 / 1;
grid-row: 4 / 4;
}

.line3 {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    color: gray;
    background-color: gray;
}

.textbox3 {
grid-column: 3 / 5;
grid-row: 4 / 4;
}
